{% extends 'base.html.twig' %}

{% block title %}Dalumni | Accueil{% endblock %}

{% block body %}

    {% if is_granted('ROLE_USER') %}
        connecté
{% else %}
    <a href="{{ path('register') }}">S'inscrire ici</a>
    <a href="{{ path('app_login') }}">Se connecter ici</a>

{% endif %}

{% endblock %}
