{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <a href="{{ path('adminlisteu') }}" >Liste users</a>
    <a href="{{ path('actu_index') }}">Liste des actualités</a>
{% endblock %}
