{% extends 'base.html.twig' %}

{% block title %}New Actu{% endblock %}

{% block body %}
    <h1>Ajouter un nouvel article</h1>

    {{ include('actu/_form.html.twig') }}

    <a href="{{ path('actu_index') }}" class="btn btn-warning text-white">Retourner à la liste</a>
{% endblock %}
