{% extends 'base.html.twig' %}

{% block title %}Nouveau commentaire{% endblock %}

{% block body %}
    <h1>Creer votre commentaire</h1>
<br>
    {{ include('commentaire/_form.html.twig') }}
<br>
{% if is_granted('ROLE_ADMIN') %}
    <button type="button" class="btn btn-warning bouton">   <a href="{{  path('commentaire_index') }}">Retour à la liste des commentaires</a> </button>
{% endif %}
    <button type="button" class="btn btn-warning bouton">   <a href="{{  path('commentaire_index') }}">Retour au sujet </a> </button
{% endblock %}
