{% extends 'base.html.twig' %}

{% block title %}Cours!{% endblock %}

{% block body %}

    <div class="col text-center d-flex justify-content-center">
        <h2>Liens des cours</h2>
    </div>
<div >
    <div class="row" style="padding-top: 3rem;">
        <div class="col-md-4">
            <button class="btn btn-outline-dark btn-block" >HTML</button>
        </div>

        <div class="col-md-4">
            <button class="btn btn-outline-dark btn-block">CSS</button>
        </div>

        <div class="col-md-4">
            <button class="btn btn-outline-dark btn-block">JAVASCRIPT</button>
        </div>
    </div>

    <div class="row" style="padding-top: 6rem;">
        <div class="col-md-4">
            <button class="btn btn-outline-dark btn-block" onclick="btnclick1(); return true;">JQUERY</button>
        </div>

        <div class="col-md-4">
            <button class="btn btn-outline-dark btn-block" onclick="btnclick2(); return true;">PHP</button>
        </div>

        <div class="col-md-4">
            <button class="btn btn-outline-dark btn-block">GIT</button>
        </div>
    </div>

    <div class="row" style="padding-top: 6rem;">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button class="btn btn-outline-dark btn-block" onclick="btnclick(); return true;">BOOTSTRAP</button>
        </div>
        <div class="col-md-4">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <embed src="{{ asset('pdf/PDF_bootstrap.pdf') }}" width="100%"  style="height:62rem; padding-top:2rem; display:none;" id="pop2"/>
            <embed src="{{ asset('pdf/PDF_jquery.pdf') }}" width="100%" style="height:62rem; padding-top:2rem; display:none;" id="pop1"/>
            <embed src="{{ asset('pdf/PDF_php1.pdf') }}" width="100%" style="height:62rem; padding-top:2rem; display:none;" id="pop3"/>
        </div>
    </div>
    <div class="col text-center d-flex justify-content-center">
        <a href="{{ path('default') }}" class="btn btn-primary text-white text-center mt-5">Retourner à  l'acceuil</a>
    </div>
    </div>

    <script>
        function btnclick() {
            if (pop2.style.display === "none") {
                pop2.style.display = "block";
                pop1.style.display = "none";
                pop3.style.display = "none";
            } else {
                pop2.style.display = "none";
            }
        }
        function btnclick1() {

            if (pop1.style.display === "none") {
                pop1.style.display = "block";
                pop2.style.display = "none";
                pop3.style.display = "none";

            } else {
                pop1.style.display = "none";
            }
        }

        function btnclick2() {
            if (pop3.style.display === "none") {
                pop3.style.display = "block";
                pop1.style.display = "none";
                pop2.style.display = "none";
            } else {
                pop3.style.display = "none";
            }
        }
    </script>

{% endblock %}
